@page "/"

<div class="header">
    <nav class="navbar justify-content-end py-0 px-3">
        <div class="mx-2" @onclick="() => ToggleContent(0)">
            <p class="my-auto">Experiences</p>
        </div>
        <div class="mx-2" @onclick="() => ToggleContent(1)">
            <p class="my-auto">Contacts</p>
        </div>
    </nav>
</div>

<div class="container-xl">
    <div class="p-0 p-md-5">
        <h1 class="display-3">Emanuele Latino, </h1>
        <h1 class="display-3 font-weight-bold">developer.</h1>
    </div>

    <div class="d-md-flex flex-md-wrap">
        @if (_toggleContent[0])
        {
            <Content OuterClass="col-12 col-md-6" InnerClass="p-3">
                <p class="mb-0"><b>Domec S.p.A.</b> ASP.NET Developer & Frontend (2022-2023)</p>
                <p class="mb-0">Experience in styling pages</p>
                <p class="mb-0">HTML, CSS, Js | Razor Views | Blazor</p>
            </Content>
            <Content OuterClass="col-12 col-md-6" InnerClass="p-3">
                <p class="mb-0"><b>SPQR Robotic Team</b> Software Developer (2018-2020)</p>
                <p class="mb-0"><b>Romecup Soccer Lightweight</b> National Champions 2018-2019</p>
                <p class="mb-0"><b>Robocup Soccer Lightweight</b> Best Robot Design, Sydney 2019</p>
            </Content>
            <Content OuterClass="col-12" InnerClass="p-3">
                <p class="mb-0"><b>ITIS G.Galilei</b> Tutor STEM (2019-2020) </p>
                <p class="mb-0">Classes of robotics for younger students, from the basics of designing to more complex systems.</p>
                <p class="mb-0">Following the path of the previous champions, the classes Following the path of the previous champions, the classes Following the path of the previous champions, the classes </p>
                <p class="mb-0">Following the path of the previous champions, the classes Following the path of the previous champions, the classes Following the path of the previous champions, the classes </p>
                <p class="mb-0">Following the path of the previous champions, the classes Following the path of the previous champions, the classes Following the path of the previous champions, the classes </p>
            </Content>
        }
        @if (_toggleContent[1])
        {
            <Content OuterClass="col-12 col-md-6" InnerClass="p-3">
                <p class="mb-0">Contatti</p>
            </Content>
        }
    </div>
</div>
